@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

 *{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

 }
 html {
    font-size: 16px;
 }
 body {
    font-size: 1rem;
 }

 .generator_app {
    width: calc(100% - 5rem);
    height: auto;
    background-color: white;
    box-shadow: .5rem .5rem 5px black;
    border: 1px solid black;
    padding: 3rem 0;
    margin: 10% auto;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }

 .page_title {
    width: calc(100% - 3rem);
    font-size: .8rem;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: .5rem;

 }

 .col_gen_con {
    width: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
 }

 .col_box_con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
 }

 .box {
    font-size: .6rem;
    color: white;
    background-color: black;
    padding: 1rem 2rem;
    border-radius: .5rem;
    border: 1px solid black;
 }

 button {
    font-size: 0.6rem;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 0.6rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 5px 5px black;
    transition: transform 0.2s ease, box-shadow 0.4s ease;
}

button:active {
    box-shadow: none;
    transform: translate(5px, 5px);
}

@media (max-width: 700px) {
    html {
        font-size: 10px;
    }
}
